
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the container takes up at least the full height of the viewport */
  background: linear-gradient(to bottom, rgb(240, 255, 241), rgb(184,255,200)); /* Apply linear gradient */
}
.container2 {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-top: 100px;
  margin-bottom: 100px;
  min-height: 50vh; /* Ensure the container takes up at least the full height of the viewport */
  background: linear-gradient(to bottom, rgb(184,255,200), rgb(255, 255, 255)); 
  /* Apply linear gradient */
}

.hero,
.cta {
  flex: 3; /* Update to reflect the new split */
  display: flex;
  justify-content: center; /* Align content horizontally in the center */
  align-items: center; /* Align content vertically in the center */
}

.leftHalf {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align content to the start */
  align-items: flex-start; /* Align content to the start */
  text-align: left; /* Align text content to the left */
}

.leftHalf strong {
  font-size: 60px; /* Adjust font size */
  margin-bottom: 20px; /* Add margin between the two text elements */
  letter-spacing: 1.5px; /* Add more space between letters */
  font-weight: 500; /* Thin the text */
}

.rightHalf {
  flex: 3; /* Adjusted to 30% of the hero section */
  display: flex;
  flex-direction: column; /* Stack image and text vertically */
  position: relative; /* Position the .threeJsSceneContainer relative to this */
}

.rightHalf img {
  /* max-width: 100%; Ensure the image doesn't exceed the container */
  height: -50%;
}

.threeJsSceneContainer {
  margin-bottom: 90px;
  position: absolute;
  top: 25%; /* Move the container to the vertical center */
  left: 35%; /* Move the container to the horizontal center */
  z-index: 1;
}


.heroImage {
  position: absolute;
  right: 0; /* Align the image to the right within its container */
  top: 0; /* Align the image to the top within its container */
  height: 100%; /* Ensure the image fills the entire height of its container */
}

.card {  
  margin-top: 100px;
  opacity: 0;
  animation-name: fadeIn;
  animation-delay: 2s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  transition: transform 0.3s ease-out;
}
.cardHover {
  transform: scale(1.03);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.wrapperwrapper{
  border-radius: 300px;
  width: 80%;
  background-color: rgb(220, 220, 220);
}
.carouselWrapper {
  width: 70%; 
  display: flex;
  justify-content: center;
  margin: 0 auto; /* Center the carousel */
  margin-bottom: 300px;
}

/* Hide the container for smaller viewports */
@media (max-width: 1200px) {
  .threeJsSceneContainer {
    display: none; 
  }
}

.zoomEffect {
  animation: zoom 3s ease-in infinite alternate; /* Adjust animation duration and timing as needed */
}

@keyframes zoom {
  0% {
    transform: scale(1); /* Start with normal size */
  }
  100% {
    transform: scale(1.1); /* Zoom to 110% size */
  }
}
.windowSize {
  width: 900px;
  height: 600px;
  background-color: black;
}
@media (max-width: 1200px) {
  .windowSize {
    width: 500px;
    height: 500px;
  }
}

@media (max-width: 800px) {
  .windowSize {
    width: 300px;
    height: 300px;
  }
}


/* .bannerText {
  opacity: 0;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
}

.titleText {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.card {  
  opacity: 0;
  animation-name: fadeIn;
  animation-delay: 2s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  transition: transform 0.3s ease-out;
}
.cardHover {
  transform: scale(1.05);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
 */
